<ion-content>
  <div #map123 id="map_canvas123">
    <ion-row>
      <ion-col size="2">
        <ion-back-button defaultHref="/maintabs/tabs/vehicle-list"></ion-back-button>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-center">
          <p><b>{{data.Device_Name}}</b></p>
        </div>
      </ion-col>
      <ion-col size="2">
        <ion-row>
          <ion-col size="12" class="ion-no-padding" (click)="onMapType()">
            <div style="padding: 9px;">
              <ion-icon *ngIf="afterMapTypeClick" style="font-size: 1.8em;" name="logo-buffer"></ion-icon>
              <ion-icon *ngIf="!afterMapTypeClick" style="font-size: 1.8em;"
                src="assets/imgs/icon/stack-of-square-papers.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-no-padding" tappable (click)="onTraffic()">
            <div style="padding: 0px 9px;">
              <ion-icon *ngIf="!afterClick" style="font-size: 1.8em;" src="assets/imgs/icon/traffic-light-before.svg">
              </ion-icon>
              <ion-icon *ngIf="afterClick" style="font-size: 1.8em;" src="assets/imgs/icon/traffic-light.svg">
              </ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-no-padding" tappable (click)="onImmo()">
            <div style="padding: 11px 9px;">
              <ion-icon *ngIf="data.ignitionLock == '0'" style="font-size: 1.9em;" name="lock" color="medium">
              </ion-icon>
              <ion-icon *ngIf="data.ignitionLock == '1'" style="font-size: 1.9em;" name="unlock" color="danger">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>