<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="live-track">
      <ion-icon src="assets/imgs/icon/location-on-map.svg"></ion-icon>
      <ion-label>Track</ion-label>
    </ion-tab-button>
 
    <ion-tab-button (click)="history()">
      <ion-icon src="assets/imgs/icon/history.svg"></ion-icon>
      <ion-label>History</ion-label>
      <!-- <ion-label *ngIf="!clicked">History</ion-label>
      <ion-label *ngIf="clicked" color="primary">History</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon src="assets/imgs/icon/bar-chart.svg"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="service">
      <ion-icon src="assets/imgs/icon/repair-service.svg"></ion-icon>
      <ion-label>Service</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon src="assets/imgs/icon/settings.svg"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>